{
    "presets": [
        "react"
    ],

    "plugins": [
        "fast-async",
        "transform-runtime",
        "syntax-dynamic-import"
    ],

    "env": {
        "develoment": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": "Chrome 62"
                    }
                }]
            ],

            "plugins": [
                "meaningful-logs"
            ]
        },

        "test": {
            "presets": [
                ["env", {
                    "targets": {
                        "node": "current"
                    }
                }]
            ],

            "plugins": [
                "rewire"
            ]
        },

        "production": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": "> 1%, last 2 versions, ie 8"
                    }
                }],
                "react-optimize",
                "minify"
            ],

            "plugins": [
                "groundskeeper-willie"
            ]
        }
    }
}