{
    "presets": [
        "env", "react"
    ],
    "plugins": [
        "babel-plugin-root-import",
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-syntax-dynamic-import",
    ],
    "env": {
        "development": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": "Chrome 61"
                    }
                }],
            ],
            "plugins": [
                "meaningful-logs"
            ]
        },
        "production": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": "> 3%",
                    }
                }],
                "minify",
                "react-optimize"
            ],
            "plugins": [
                "babel-plugin-loop-optimizer",
                "fast-async",
                "babel-plugin-lodash",
                "babel-plugin-ramda"
            ]
        },
        "production:server": {
            "presets": [
                ["env", {
                    "targets": {
                        "node": true
                    }
                }],
                // "minify",
                "react-optimize"
            ],
            "plugins": [
                "babel-plugin-dynamic-import-node",
                "babel-plugin-loop-optimizer",
                "fast-async",
                "babel-plugin-lodash",
                "babel-plugin-ramda",
            ]
        },
        "test": {
            "presets": ["env"],
            "plugins": [
                "rewire"
            ]
        }
    }
}
